.main-nav {
    background-color: var(--c-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-lnk {
    color: var(--c-light);
    text-decoration: none;
    padding: 20px 30px;
    transition: 
        text-shadow .3s,
        background-color .3s ease-in-out;

    &:hover {
        background-color: var(--c-pink);
        text-shadow: 2px 2px 2px #000000;
    }
}

.active {
    background-color: var(--c-pink);
}